* {
  margin: 0;
  padding: 0;
}

html {
  margin-top: 50px;
}

body {
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}

nav {
  background-color: #FFE1E5;
}

nav img {
  height: 50px;
  width: 50px;
}

nav li {
  font-size: 20px;
}

.container1 {
  background: url("https://c.tenor.com/peVRKo2tEoAAAAAC/cherry-blossom-anime.gif") no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.container1::before {
  content: "";
  display: block;
  -webkit-filter: blur(16px) brightness(0.7);
  -moz-filter: blur(16px) brightness(0.7);
  -ms-filter: blur(16px) brightness(0.7);
  -o-filter: blur(16px) brightness(0.7);
  filter: blur(16px) brightness(0.7);
  position: absolute;
  left: 0.5px;
  top: 10px;
  right: 0.5px;
  bottom: 10px;
  background: inherit;
  z-index: 0;
}

.container1 img {
  max-width: 100%;
  width: 250px;
  min-width: 100px;
  height: auto;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 2px;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-family: 'Raleway', sans-serif;
}

.content {
  position: relative;
  z-index: 10;
  padding-top: 50px;
}


#tools img {
  height: 150px;
  width: 150px;
}

#tools div {
  background-color: #FFAFBA;
  border-radius: 20px;
}


#tools1 img {
  height: 150px;
  width: 150px;
}

#contacts {
  height: 90vh;
}

#contacts img {
  height: 40px;
  width: 40px;
}

#gmap {
  height: 60vh;
  width: 100%;
}

footer {
  background-color: #7D4801;
  color: white;
}
